body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#banner {
    background-image: url('image/banner.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

html{
    scroll-behavior: smooth;
}

#sobre {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Adicionando estilos CSS inline apenas para este exemplo */
.carros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carro {
    width: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    text-align: center;
}
.carro img {
    max-width: 100%;
}